body {
    margin: 0;
    padding: 0;
}

header img {
    width: 10%;
}

header, nav ul, .intro{
    display: flex;
}

header, main, .view-more, .about-me {
    padding: 1em;
}

.fa-suitcase {
    font-size: 2rem;
    margin: auto 0.4em auto 0;
}

header h1, .fa-suitcase {
    cursor: pointer;
}

nav {
    margin-left: auto;
}

header h1 {
    font-size: 1.2rem;
}

nav ul {
    list-style-type: none;
    gap: 0.65em;
}

nav ul, .anchor-btn {
    font-weight: bold;
    cursor: pointer;
}

nav a {
    font-size: 0.5rem;
    text-decoration: none;
}

.intro {
    font-size: 1rem;
    color: white;
    background: url(images/programmin.webp);
    background-size: 100% 100%;
    min-height: 40vh;
    flex-direction: column;
    justify-content: end;
    padding-left: 1em;
}

.intro-h1, .about-me h1, .intro-article {
    width: 80%;
}

.intro .date, .intro-h1, .about-me h1 {
    margin-bottom: 0.5em;
}

.intro-article, .intro-h1  {
    margin-top: 0;
}

.post-img {
    max-width: 480px;
    width: 100%;
    height: 55%;
    border-radius: 5px;
}

.desktop-view, .about-me, .view-more {
    display: none;
}

.view-more strong {
    font-size: 1.3rem;
}

.break, .recent-posts, .anchor-btn {
    display: block;
}

.break, .post-img {
    margin-top: 1em;
}

.profile-img {
    border-radius: 50%;
    border: 5px solid red;
    width: 50%;
}

.recent-posts, .anchor-btn, footer {
    text-align: center;
}

.anchor-btn {
    color: black;
    margin: 2em 0;
}

footer {
    color: white;
    background-color: black;
    padding: 2em 0 2em 0;
}

/* Media query */

@media (min-width: 768px) {
    body {
        background-color: whitesmoke;
    }

    header {
        margin-bottom: 1.5em;
        background-color: white;
    }

    nav a {
        margin-left: 2em;
    }

    header, main, .view-more {
        padding: 2em;
    }

    header img {
        width: 3%;
    }

    section .about-me-profile {
        display: flex;
        gap: 1.875em;
    }

    section .about-me-profile2 {
        margin-top: 3.125em;
    }

    .profile-img {
        width: 20%;
    }
    
    .desktop-view {
        display: block;
    }

    .intro p, nav a {
        font-size: 1rem;
    }

    .intro h1 {
        font-size: 2rem;
    }

    .view-more .post-img {
        min-width: 100%;
        min-height: 10%;
    }

    .view-more2 {
        padding: 0 4em;
    }

    main {
        display: grid;
        grid-template-areas: 
        'blog1 blog2 blog3'
        'blog4 blog5 blog6'
        ;
        grid-gap: 1em;
    }

    main p, .about-me p, .view-more p {
        height: 5%;
    }

    main h1 {
        margin-bottom: 0;
    }

    .anchor-btn, main h1 {
        margin-top: 0;
    }

    .blog-1 {
        grid-area: blog1;
    }

    .blog-2 {
        grid-area: blog2;
    }

    .blog-3 {
        grid-area: blog3;
    }

    .blog-4 {
        grid-area: blog4;
    }

    .blog-5 {
        grid-area: blog5;
    }

    .blog-6 {
        grid-area: blog6;
    }
}