body {
    margin: 0;
    padding: 0;
}

img {
    width: 15%;
}

header {
    display: flex;
    padding: 0 1.5em;
}

.hero-tag h1 {
    font-size: 1.5rem;
}

.hero-tag, nav ul {
    display: flex;
}

nav ul {
    list-style: none;
    font-weight: bold;
    gap: 0.7em;
    cursor: pointer;
}

li a {
    text-decoration: none;
}

.intro {
    font-size: 1rem;
    color: white;
    background: url(images/programmin.webp);
    background-size: 100% 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 1.5em;
}

main {
    padding: 1.5em;
}

.post-img {
    max-width: 480px;
    width: 100%;
    border-radius: 5px;
}

.last-p {
    margin-bottom: 3em;
}

main a {
    font-weight: bold;
    color: black;
    display: block;
    text-align: center;
    cursor: pointer;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 2em 0 2em 0;
}